<div class="card">
  <div class="card-body">
    <h2 class="card-title border-bottom">My Portfolio</h2>
    <span class="row">
      {% for post in site.categories.work_blog %}
      
        <div class="card col-xs-4 work-blog-card">
          <a href="{{post.url}}" class="work-blog-content">
            <div class="card-body"  href="{{post.url}}" target="_blank">
              <img class="img-fluid border" src="{{post.image-link}}"/>
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text text-wrap">{{ post.content | truncate: 100 }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
      <!-- {% for post in site.categories.work_blog %}
      
      {% endfor %} -->
    </span>
    
  </div>
</div>

<style>
.work-blog-card {
  width:33%;
  border: none;
}
.work-blog-content {
  text-decoration: none;
  color:black;
}
.work-blog-content:hover {
  text-decoration: none;
  color:black;
}
.work-blog-card:hover {
  background:grey;
  opacity:0.8;
}

@media only screen and (max-width: 800px){
  .work-blog-card{
    width:50%;
  }
}
</style>